asgiref==3.5.2
beautifulsoup4==4.11.1
box2d-py==2.3.5
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.1.3
cloudpickle==2.1.0
dj-database-url==1.0.0
Django==4.0.5
django-crispy-forms==1.14.0
django-jazzmin==2.5.0
django-on-heroku==1.1.2
django-otp==1.1.3
django-phonenumber-field==6.3.0
django-qrcode==0.3
django-widget-tweaks==1.4.12
Flask==2.1.2
gym==0.25.1
gym-notices==0.0.8
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
MouseInfo==0.1.3
numpy==1.23.2
phonenumberslite==8.12.52
Pillow==9.1.1
psycopg2-binary==2.9.3
PyAutoGUI==0.9.53
pygame==2.1.0
PyGetWindow==0.0.9
PyJWT==2.4.0
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
python3-xlib==0.15
pytweening==1.0.4
pytz==2022.1
pywhatkit==5.4
qrcode==7.3.1
requests==2.28.1
soupsieve==2.3.2.post1
sqlparse==0.4.2
swig==4.0.2
twilio==7.10.0
urllib3==1.26.9
Werkzeug==2.1.2
whitenoise==6.2.0
wikipedia==1.4.0
