
{% extends "home/base.html" %}  
{% load static %}
{% load crispy_forms_tags %}






{% block Page_Title  %}

<div class="row justify-content-center">
<h1>Password Change Form </h1>
<h1> نموذج تغيير كلمة المرور </h1>

</div>

{% endblock Page_Title %}  






{% block Contents_Page %} 

<div class="row justify-content-center">
    <div class="col-4.5">
    <div class="card">
    <div class="card-body">
    <form enctype="multipart/form-data" " method="post" novalidate>
    
<form enctype="multipart/form-data" " method="post" novalidate>
    {% csrf_token %}
    {% comment %} {{ form|crispy }} {% endcomment %}
    {% include  "includes/data_validation_form.html" %} 
        
        <button type="submit" class="btn btn-success">Change Password - تغيير كلمة المرور</button>
        <a href="{% url 'index_pageURL' %}" class="btn btn-info">Cancel - إلغاء</a>
</form>

</div>
</div>
</div>
</div>

















{% endblock Contents_Page %} 
