
{% extends "home/base.html" %}  
{% load static %}






{% block Page_Title  %}

<div class="row justify-content-center">
<h1>Logout Confirm - تأكيد تسجيل الخروج</h1>
</div>

{% endblock Page_Title %}  






{% block Contents_Page %} 

<div class="row justify-content-center">
    <div class="col-5">
    <div class="card">
    <div class="card-body">
    
<h4> Confirmation </h4>
<h4> تأكيد.</h4>

    
<p>Are You Sure You Want To Logout From ( Family Associatior ) Online </p>
<p>(الجمعية العائلية) هل أنت متأكد أنك تريد تسجيل الخروج من حساب</p>


<a href="{% url 'logout'%}" role="button" style="float:lieft" class="btn btn-success">( Yes - نعم) </a><!-- Exit From Home Page  -->
<a href="{% url 'index_pageURL'%}" role="button" style="float:lieft" class="btn btn-primary">( No - لا) </a><!-- Go To Home Page  -->


<!-- <a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline" href="{% url 'index_pageURL' %}" class="btn btn">Go To Home Page</a> Go To Home Page -->

</div>
</div>
</div>
</div>

{% endblock Contents_Page %} 
