
{% extends "home/base.html" %}  
{% load static %}
{% load crispy_forms_tags %}







{% block Page_Title  %}

<div class="row justify-content-center">
<h1>Password Reset Confirm </h1>
<h1> تأكيد إعادة تعيين كلمة المرور</h1>

</div>

{% endblock Page_Title %}  







{% block Contents_Page %} 

<div class="row justify-content-center">
    <div class="col-5">
    <div class="card">
    <div class="card-body">
{% if validlink %}
        <h5>Please Enter your New Nassword and Confirm. </h5>
        <h5>الرجاء تأكيد إدخال كلمة المرور الحديدة الخاصة بك </h5>
        <form enctype="multipart/form-data" " method="post" novalidate>
            {% csrf_token %} 
            {% comment %} {{ form|crispy }} {% endcomment %}
            {% include  "includes/data_validation_form.html" %} 
                
                <button type="submit" class="btn btn-success">Confirm - تأكيد</button>  
                <!-- Go To Home Page HTML-->
                <!-- <a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline" href="{% url 'index_pageURL' %}" class="btn btn">Go To Home Page</a>  -->
                <a  href="{% url 'index_pageURL' %}" role="button" style="float:lieft" class="btn btn-success">Go To Home Page</a><!-- الدخول إلى الموقع -->

    </form>
    
{% else %}
        <h3>Password reset failed </h3>
        <h3> فشل إعادة تعيين كلمة المرور</h3>

        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset </p>
        <p>رابط إعادة تعيين كلمة المرور غيؤ صالح ربما لأنه تم إستخدامه بالفعل. الرجاء طلب إعادة تعيين كلمة مرور جديدة.</p>

{% endif %}
</div>
</div>

{# Assumes you setup the password_reset view in your URLconf #}
<p>Have You Lost The Password - هل فقدت كلمة المرور?<a href="{% url 'password_reset' %}"> Forgot Password? - نسيت كلمة المرور</a></p>
<p>Create New Accounts  - إنشاء حساب جديد<a href="#">Signup - تسجيل</a></p>   
</div>
</div>
{% endblock Contents_Page %} 

