
{% extends "home/base.html" %}  
{% load static %}






{% block Page_Title  %}

<div class="row justify-content-center">
<h1>My Personal Data Update Done </h1>
<h1> تم تحديث بياناتي الشخصية</h1>

</div>

{% endblock Page_Title %}  






{% block Contents_Page %} 

<div class="row justify-content-center">
    <div class="col-5">
    <div class="card">
    <div class="card-body">

<h4>Data Saved  Successfully </h4>
<h4> تم حفظ المعلومات بنجاح.</h4>


<p></p>

<a href="{% url 'FinancialStatementsDetailIdURL' user.pk %}" role="button" style="float:lieft" class="btn btn-success">Next - التالي</a> <!-- Go To Home Page  -->

<a href="{% url 'ProfileDetailIdURL' user.pk %}" role="button" style="float:lieft" class="btn btn-success">Previous - السابق</a> <!-- Go To Home Page  -->

<a href="{% url 'index_pageURL'%}" role="button" style="float:lieft" class="btn btn-info">Close - إغلاق</a> <!-- Go To Home Page  -->


</div>
</div>
</div>
</div>

{% endblock Contents_Page %} 
