

{% extends "home/base.html" %}  
{% load static %}
{% load crispy_forms_tags %}







{% block Page_Title  %}
<h1>All  Subscribers </h1>
<h1>قائمة المشتركين</h1>

<!-- <h1>{{ now }}</h1> -- >
{% endblock Page_Title %}  






{% block messages_Contents  %}

<!-- ظهور رسالة للمستخدم -->
{% if messages %} <!-- جملة شرطية للتحقق من وجود رسالة قبل عرضها-->
        {% for message in messages %} <!-- جملة تكرار للمرور على جميع  محتويات الرسالة لعرضها كلها -->
                <!--success: هي التي تقوم بتحديد لون الرسالة اخضر -->
                <!--warning: هي التي تقوم بتحديد لون الرسالة احمر -->
                <div  class="alert alert-success">
                        {{ message }} <!-- المتغير الذي يحمل نص الرسالة-->
                </div>
        {% endfor %}
{% endif %}

	<!-- Delete Modal HTML Start -->
	<div id="Delete_Messages_Modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Delete Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Are you sure you want to delete these Records?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
                    {% for object_list_item in object_list %} 

					<div class="modal-footer">
					
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input  href="{% url 'ProfileDeleteURL'    object_list_item.id  %}" type="submit" class="btn btn-danger" value="Delete">
					</div>
					{% endfor %}
				</form>
			</div>
		</div>
	</div>
	<!-- Delete Modal HTML End -->

{% endblock messages_Contents %}  






{% block Contents_Page %} 

<br>

<div class="d-sm-flex align-items-left  mb-4">

<br>
<!-- Base.html - Search Box Start ------------------------------ -->
<form action="{% url 'ProfileListViewSearchURL' %}" method="GET" value="{{request.GET.q}}">
    <input type="text" name="q" value="{{request.GET.q}}" placeholder="Searching For a Subscriber - البحث عن مشترك" >
    <input class="btn btn-secondary" type="submit" name="submit" value="Search - البحث"/>
</form>
    

            {% comment %} 
            <section id="search" class="alt"> 
            <form action="{% url 'ProfileListViewSearchURL' %}" method="get">
            <input type="text" name="q" id="search" placeholder="Type To Search.......">
            </form>
            </section> {% endcomment %}
            
<!-- Base.html - Search Box End ------------------------------ -->

</div>


<!-- Content Row -->
<div class="row">

  <div class="col-md-0">
      <div class="card shadow mb-4">
          <div class="card-body">
              <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <table class="table-responsive-xl table table-hover table-striped table-bordered dataTable" id="dataTable" width="100%"
                                 cellspacing="0" role="grid" aria-describedby="dataTable_info">
                              <thead>                              
                                  <tr role="row">
                                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                      colspan="1" aria-label="" style="">Select
                                  </th>
                                 <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                  colspan="1" aria-label="" style="">.
                                </th>  
                                  <!-- <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                      colspan="1" aria-label="" style="">Image
                                  </th> -->
                                  {% comment %} <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                      colspan="1" aria-label="" style="">ID User - رقم المعرف الشخصي
                                  </th> {% endcomment %}
                                  {% comment %} <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                      colspan="1" aria-label="" style="">User Name
                                  </th> {% endcomment %}
                                  {% comment %} <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                      colspan="1" aria-label="" style="">First Name - الإسم الأول
                                  </th> {% endcomment %}
                                  {% comment %} <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                      colspan="1" aria-label="" style="">Last Name - الإسم الأخير
                                  </th> {% endcomment %}
                                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                  colspan="1" aria-label="" style=""> Name -  الأسم
                                 </th>
                                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                      colspan="1" aria-label="" style="">Email Address - الإيميمل
                                  </th>
                                  {% comment %} <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                      colspan="1" aria-label="" style="">Active Status - حالة حساب المشترك
                                  </th> {% endcomment %}
                                  {% comment %} <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                      colspan="1" aria-label="" style="">Staff Status
                                  </th> {% endcomment %}
                                  {% comment %} <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                      colspan="1" aria-label="" style="">Superuser Status
                                  </th> {% endcomment %}
                                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                      colspan="1" aria-label="" style="">Date Joined - تاريخ الإشتراك
                                  </th>
                                  {% comment %} <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                      colspan="1" aria-label="" style="">Last Login
                                  </th>                                   {% endcomment %}

                              </tr>
                              </thead>
                              <tbody>
                              
                              {% for object_list_item in queryset_users_list_CONTEXT %} 
                              
                              <tr role="row">
                                <td class="text-center">
                                      <div class="custom-control-lg custom-control custom-checkbox">
                                          <input name="checkbox_select_item_for_delete" type="checkbox" class="custom-control-input form-control-lg" data-id="{{ object_list_item.pk}}" id="check{{ object_list_item.pk }}">
                                          <label class="custom-control-label" for="check{{ object_list_item.pk }}"></label>
                                      </div>
                                  </td> 
                                  
                                  <td>
                                    {% comment %} <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <a class="dropdown-item" href="{% url 'My_Profile_Detail_ID_URL' object_list_item.id  %}"><i class="dw dw-eye"></i> View</a>
                                            <a class="dropdown-item" href="{% url 'my_profile_update_URL'    object_list_item.id  %}"><i class="dw dw-edit2"></i> Edit</a>
                                            <a class="dropdown-item" href="{% url 'My_Profile_delete_URL'    object_list_item.id  %}"><i class="dw dw-delete-3"></i> Delete</a>
                                            <!-- <a class="dropdown-item" href="Delete_Messages_Modal"><i class="dw dw-delete-3"></i> Delete</a> -->
                                        </div>
                                    </div> {% endcomment %}
                                
                                </td>
                                <!-- <td><img src="{{ object_list_item.ASS_AssociationLogo.url}}" alt="" width="150" height="90"></td> -->
                                {% comment %} <td>{{ object_list_item.pk  }}</td>  {% endcomment %}
                                {% comment %} <td>{{ object_list_item.username }}</td> {% endcomment %}
                                {% comment %} <td>{{ object_list_item.first_name }}</td> {% endcomment %}
                                {% comment %} <td>{{ object_list_item.last_name }}</td> {% endcomment %}
                                <td>{{ object_list_item.first_name }} {{ object_list_item.last_name }}</td>
                                <td>{{ object_list_item.email }}</td>
                                {% comment %} <td>{{ object_list_item.is_active }}</td> {% endcomment %}
                                {% comment %} <td>{{ object_list_item.is_staff }}</td> {% endcomment %}
                                {% comment %} <td>{{ object_list_item.is_superuser }}</td> {% endcomment %}
                                <td>{{ object_list_item.date_joined | date:"M d, Y h:i:s A"}}</td>
                                {% comment %} <td>{{ object_list_item.last_login  | date:"M d, Y h:i:s A"}}</td> {% endcomment %}
                              
                              </tr>
                              {% empty %}
                              
                              <li><h4>No Search Results For This Query!</h4></li> 
                              <li><h4> لا توجد نتائج بحث لهذا الاستعلام</h4></li>
                             
                                 {% endfor %}
         
                              </tbody>
                          </table>
                      </div>
                  </div>
            <!--Pagination Start -->
            
                  <div class="row">
                      <div class="col-12 ">
                          <div class="pagination">
                              <span class="step-links">
                                  {% if page_obj.has_previous %}
                                      <a href="?page=1">&laquo; first - الأول</a>
                                      <a href="?page={{ page_obj.previous_page_number }}">previous - السابق</a>
                                  {% endif %}

                                  <span class="current">
                                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                  </span>

                                  {% if page_obj.has_next %}
                                      <a href="?page={{ page_obj.next_page_number }}">next - التالي</a>
                                      <a href="?page={{ page_obj.paginator.num_pages }}">last - الأخير &raquo;</a>
                                  {% endif %}
                              </span>
                          </div>
                      </div>
                  </div>
            <!--Pagination End -->
              </div>
          </div>
      </div>

  </div>

</div>


{% endblock Contents_Page %} 
